.modal-outer{
 background-color: rgba(0,0,0,.75);
 width: 100%;
 height: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 position: fixed;
 top: 0;
 opacity: 0;
 z-index: -1000;
 visibility: hidden;
 -webkit-transition: 300ms all ease-in;
 transition: 300ms all ease-in
  
}
.modal-outer.visible{
 opacity: 1;
 visibility: visible;
 z-index: 1000;
}
.modal{
 padding: 40px;
 margin: 20px;
 background: white;
 max-width: 500px;
 position: relative;
 -webkit-transform: scale(0);
         transform: scale(0);
 -webkit-transition: all 300ms ease-in-out;
 transition: all 300ms ease-in-out;
 border-radius: 10px
  
}
.visible .modal{
 -webkit-transform: scale(1);
         transform: scale(1)
}
.modal a{
 background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/974870/fancybox_sprite.png');
 height: 36px;
 width: 36px;
 position: absolute;
 top: 1%;
 right: 1%
}
